@model Web.Models.OrderDetail

@{
    ViewBag.Title = "Edit";
    var ordType = "";
    if (Model.Order.OrderType == Helper.Constants.OrderType.ADJUST)
    {
        ordType = "adjusment";
    }
    else
    {
        ordType = "order";
    }
}

<h2>Edit @ordType for Item @Model.Product.Name</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Order.Id)
        @Html.HiddenFor(model => model.Product.Id)
        @Html.HiddenFor(model => model.ProductPrice.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Product, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.EditorFor(model => model.Product.Name, new { htmlAttributes = new { disabled = "disabled", @class = "form-control" } })                
               @*@Html.ValidationMessageFor(model => model.Product_Id, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>
        @if(Model.Order.OrderType != Helper.Constants.OrderType.ADJUST)
        {
        <div class="form-group">
            @Html.LabelFor(model => model.ProductPrice.SelesPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductPrice.SelesPrice, new { htmlAttributes = new {disabled = "disabled", @class = "form-control" } })                
                @Html.ValidationMessageFor(model => model.ProductPrice.SelesPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitDiscount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitDiscount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UnitDiscount, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

    
}

<div>
    @if (Model.Order.OrderType == Helper.Constants.OrderType.ADJUST)
    {
        @Html.ActionLink("Back to List", "AdjustDetails", "Orders", new { Id = Model.Order.Id }, null)
    }
    else
    {
        @Html.ActionLink("Back to List", "Details", "Orders", new { Id = Model.Order.Id }, null)
    }

    
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
