@model Web.Models.ProductPrice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product Price</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectiveFromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectiveFromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelesPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelesPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Details", "Products", new { id = Model.Product_Id }, null)
</p>
