@model Web.Models.Invoice

@{
    ViewBag.Title = "Create";
}

<h2>New Bill</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="custom-header-div">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>

    <div class="form-horizontal">
        <hr class="custom-header-hr" />
       
        @*@Html.HiddenFor(model => model.Partner_Id)
        @Html.HiddenFor(model => model.Order_Id)*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.InvoiceNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvoiceNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InvoiceNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           
            @Html.LabelFor(model => model.Partner_Id, "Vendor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Partner.Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })*@
                @Html.DropDownListFor(model => model.Partner_Id, new SelectList(ViewBag.Partners, "Value", "Text"), null, new { @class = "custom-bootstrap-select form-control" })
                @Html.ValidationMessageFor(model => model.Partner_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Order_Id, "Order Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Order.OrderNumber, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })*@
                @Html.DropDownListFor(model => model.Order_Id, new SelectList(ViewBag.Orders, "Value", "Text"), null, new { @class = "custom-bootstrap-select form-control" })
                @Html.ValidationMessageFor(model => model.Order_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvoiceDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvoiceDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InvoiceDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
            </div>
        </div>               

       

      
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">
    $(document).ready(function () {
        
        $('#Order_Id').attr('data-live-search', true);
               
        $('#Partner_Id').attr('data-live-search', true);

        $('.custom-bootstrap-select').selectpicker(
        {
            title: '- [Please Select] -',
            liveSearch: true,
            showSubtext: true
        });


      
    });
</script>