@model Web.Models.Credit

@{
    ViewBag.Title = "Create";
}

<div class="custom-header">
    <h3>New Credit Note</h3>
    <hr />
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Partner_Id)
        @Html.HiddenFor(model => model.Order_Id)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @*@Html.LabelFor(model => model.InvoiceNumber, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.Label("Credit Notes #", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreditNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @if (Model.Order.AdjustmentReason == "RETURN_CUSTOMER")
            {
                @Html.LabelFor(model => model.Partner_Id, "Customer", htmlAttributes: new { @class = "control-label col-md-2" })
            }
            else if (Model.Order.AdjustmentReason == "RETURN_SUPPLIER")
            {
                @Html.LabelFor(model => model.Partner_Id, "Supplier", htmlAttributes: new { @class = "control-label col-md-2" })
            }

            <div class="col-md-10">
                @Html.EditorFor(model => model.Order.Partner.Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @*@Html.DropDownListFor(model => model.Partner_Id, new SelectList(ViewBag.Partners, "Value", "Text"), null, new { @class = "custom-bootstrap-select form-control" })*@
                @Html.ValidationMessageFor(model => model.Order.Partner_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order_Id, "Reference #", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order.OrderNumber, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @*@Html.DropDownListFor(model => model.Order_Id, new SelectList(ViewBag.Orders, "Value", "Text"), null, new { @class = "custom-bootstrap-select form-control", disabled = "disabled" })*@
                @Html.ValidationMessageFor(model => model.Order_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreditDate, "Credit Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreditDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Amount", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Save
                </button>
                <a href="@Request.UrlReferrer" id="cancel" name="cancel" class="btn btn-default">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    Cancel
                </a>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">
    $(document).ready(function () {

        $('#Order_Id').attr('data-live-search', true);

        $('#Partner_Id').attr('data-live-search', true);

        $('.custom-bootstrap-select').selectpicker(
        {
            title: '- [Please Select] -',
            liveSearch: true,
            showSubtext: true
        });



    });
</script>