@model Web.Models.Credit

@{
    ViewBag.Title = "Details";
    var refundType = "";
    var refundtooltip = "";
    if (Model.Order.AdjustmentReason == "RETURN_CUSTOMER")
    { 
        refundType = "Pay";
        refundtooltip = "Record the out going payment";
    }
    if (Model.Order.AdjustmentReason == "RETURN_SUPPLIER")
    {
        refundType = "Recieve";
        refundtooltip = "Record the payment recieved";
    }
    
        
}
<div class="custom-header">
    <div class="row">
        <div class="col-md-6">
            <h3>View - @Model.CreditNumber</h3>
        </div>
        <div class="col-md-6">
            <span class="pull-right">
                <button type="button" value="Print" onclick="printdiv()" class="btn btn-primary ">
                    <span class="glyphicon glyphicon-print"></span> Print
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
                        </li>
                        <li>
                            @Html.ActionLink(@refundType + " Refund", "Create", "PaymentDetails", new { Id = Model.Id, source = "Credits" }, new { Title = @refundtooltip })
                        </li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Delete", "Delete", new { Id = Model.Id }, null)</li>
                    </ul>
                </div>
            </span>
        </div>
    </div>
    <hr />
</div>


@if(Model.PaymentDetails.Count() > 0)
{ 
    <h4>Refunds</h4>
    <table class="table" style="width:600px">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDetails.First().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.PaymentDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td style="width:50px">
                    @using (Html.BeginForm("Delete", "PaymentDetails", new { id = item.Id, source = "Credits" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ActionLink(" ", "Edit", "PaymentDetails", new { id = item.Id, source = "Credits" }, new { @class = "glyphicon glyphicon-pencil", title = "Edit" })
                        <button type="submit" style="background: transparent;border: 0px;padding: 0; outline: 0;" title="Delete" onclick="return confirm('Are you sure you want to delete this payment?')">
                            <span style=" color:#428bca" class="glyphicon glyphicon-remove">
                            </span>
                        </button>
                    }
                </td>
            </tr>
        }
    </table>
}
else if (Model.Invoice != null)
{
    <h4>Invoice Applied</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Invoice.InvoiceNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Invoice.InvoiceNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => modelItem.Amount)
                </td>
            </tr>
        </tbody>
    </table>
}
else
{ 
    <div style="text-align:center">
        No Refund/Invoice applied found
    </div>
}

    <hr style="background-color:grey; height:4px" />
    <div style="margin:20px; padding-bottom:20px; margin-right:15px; border:solid; border-width:1px">
        <div id="printarea">
            <div style="margin-left:10px; margin-right:10px">
                <div style="text-align:center">
                   
                    <h3>Credit Notes</h3>
                    <h4>@ViewBag.BusinessName</h4>
                    <h6>@ViewBag.BillingAddress</h6>
                    @if (@ViewBag.ContactNumber != null)
                    {
                        <span class="glyphicon glyphicon-phone-alt" style="font-size:12px;">@ViewBag.ContactNumber</span>
                    }
                </div>

                <table style="width:100%">
                    <tr>
                        <td>
                            @if (Model.Type == Helper.Constants.InvoiceType.CustomerCredit)
                            {
                                <h4>Customer</h4>
                            }
                            else if (Model.Type == Helper.Constants.InvoiceType.SupplierCredit)
                            {
                                <h4>Supplier</h4>
                            }

                            <table>
                                <tr>
                                    <td>@Html.DisplayFor(model => model.Order.Partner.Name)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayFor(model => model.Order.Partner.ShippingAddress)</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table style="float:right">
                                <tr>
                                    <th style="text-align:right">@Html.DisplayNameFor(model => model.Order.OrderDate):</th>
                                    <td>@Html.DisplayFor(model => model.Order.OrderDate)</td>
                                </tr>
                                <tr>
                                    <th style="text-align:right">@Html.DisplayNameFor(model => model.CreditNumber):</th>
                                    <td>@Html.DisplayFor(model => model.CreditNumber)</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <br />
                <br />
                <table class="table table-bordered table-sm">
                    <tr>
                        <th>
                            <span>Items</span>
                        </th>
                        <th style="max-width:50px; text-align:center">
                            <span>Qty</span>
                        </th>
                        <th style="max-width:50px; text-align:center">
                            @Html.DisplayNameFor(model => model.Order.OrderDetails.FirstOrDefault().Product.Unit)
                        </th>
                        <th style="max-width:100px; min-width:50px; text-align:center">
                            @Html.DisplayName("Unit Price")
                        </th>
                        <th style="max-width:150px; text-align:center">
                            @Html.DisplayName("Amount")
                        </th>

                    </tr>

                    @foreach (var item in Model.Order.OrderDetails)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Name)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Quantity)

                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Product.Unit)
                            </td>
                            <td style="text-align:right">
                                @Html.DisplayFor(modelItem => item.ProductPrice.SelesPrice)
                            </td>
                            <td style="text-align:right">
                                @Html.DisplayFor(modelItem => item.AmountAfterTax)
                            </td>
                        </tr>
                    }

                </table>

                <div class="row">
                    <div class="col-xs-12" style="text-align:end; align-items:flex-end ">

                        <table style="margin-right:0;margin-left:auto; ">
                            <tr>
                                <td style="max-width:150px; min-width:100px; text-align:left">SUBTOTAL:</td>
                                <td style="max-width:150px; min-width:100px; text-align:right; padding-right:10px"><span style="font-weight:bolder; text-align:right">@ViewBag.Total </span></td>
                            </tr>
                            <tr>
                                <td style="max-width:150px; min-width:100px; text-align:left">OTHER CHARGES:</td>
                                <td style="max-width:150px; min-width:100px; text-align:right; padding-right:10px"><span style="font-weight:bolder; text-align:right;">@Html.DisplayFor(model => model.Order.OtherCharges) </span></td>
                            </tr>
                            <tr>
                                <td style="text-align:left">DISCOUNT: </td>
                                <td style="text-align:right; padding-right:10px"><span style="font-weight:bolder;text-align:right; ">@Html.DisplayFor(model => model.Order.OrderDiscount) </span></td>
                            </tr>
                            <tr>
                                <td style="text-align:left">TAX RATE:</td>
                                <td style="text-align:right; padding-right:10px"><span style="font-weight:bolder;">@Html.DisplayFor(model => model.Order.TaxRate) </span></td>
                            </tr>
                            <tr>
                                <td style="font-weight:bolder;text-align:left ; border-bottom:solid; border-top:solid; border-width:1px;">TOTAL:</td>
                                <td style="text-align:right; border-bottom:solid; border-top:solid; border-width:1px; padding-right:10px ;max-width:150px; min-width:100px;"><span style="font-weight:bolder;text-align:right">@(((Model.Order.OtherCharges + Model.Order.Amount) - Model.Order.OrderDiscount).ToString("N2"))</span></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function printdiv() {
            //window.print();
            var toPrint = document.getElementById('printarea');

            var popupWin = window.open('', '_blank', 'width=1000,height=600,location=no,left=200');
            popupWin.document.open();
            popupWin.document.write('<html><title></title>')
            popupWin.document.write('<link rel="stylesheet" type="text/css" href="/../Content/bootstrap.css" />')
            popupWin.document.write('<link rel="stylesheet" type="text/css" href="/../Content/Print.css" />');
            popupWin.document.write('</head><body onload="window.print()">')
            popupWin.document.write(toPrint.innerHTML);
            popupWin.document.write('</html>');
            popupWin.document.close();


        }

    </script>


