@using PagedList.Mvc
@model PagedList.IPagedList<Web.Models.Credit>

@{
    ViewBag.Title = "All Credit notes";

    string currentFilter = ViewBag.CurrentFilter;
    string currentSort = ViewBag.CurrentSort;
    if (string.IsNullOrEmpty(currentSort))
    {
        currentSort = "OrderDate_desc";
    }
}

<div class="custom-header">
    @if (Request.QueryString["type"] == Helper.Constants.InvoiceType.CustomerCredit)
    {
        <h3>All Customer Credit</h3>
    }
    else if (Request.QueryString["type"] == Helper.Constants.InvoiceType.SupplierCredit)
    {
        <h3>All Supplier Credit</h3>
    }
    else
    {
        <h3>Credit Notes</h3>
    }
    <hr />
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().CreditDate)
        </th>   
        <th>
            Credit Notes Number
            @*@Html.DisplayNameFor(model => model.InvoiceNumber)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Order.OrderNumber)
        </th>
        <th>
            <span>Customer</span>
            @*@Html.DisplayNameFor(model => model.Partner.Name)*@
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().DueDate)
        </th>
        <th>
            Status
        </th>
        @*<th>
            Amount
        </th>
        <th>Balance</th>*@
       

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreditDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.OrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Partner.Name)
        </td>
                
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @{
                var color = item.Status == Helper.Constants.InvoiceStatus.PAID ? "green" : 
                            item.Status == Helper.Constants.InvoiceStatus.OVERDUE? "Orange": "gray";
            }
            <span style="color:@color">
                @Html.DisplayFor(modelItem => item.Status)
            </span>
           
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>*@
        

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<div class="pager">
    @Html.PagedListPager(Model, page => Url.Action("Index", new
                       {
                           page,
                           sortOrder = ViewBag.currentSort
                       }))
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
</div>
