@model Web.Models.Product

@{
    ViewBag.Title = "Details";
}

<h3>View @Model.Name</h3>

<div>
    <div class="row">
        <div class="custom-header-div" >
            @Html.ActionLink("New Price", "Create", "ProductPrices", new { Product_Id = Model.Id }, null) | 
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
            
        </div>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartingInventory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartingInventory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReOrderPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReOrderPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taxable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taxable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

    </dl>
</div>

<h5 style="font-weight:bold; font-size:16px; color:gray">Price History</h5>
<table class="table table-striped" style="margin-left:25px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrices.First().EffectiveFromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrices.First().PurchasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrices.First().SelesPrice)
        </th> 
        <th></th>       
    </tr>

    @foreach (var item in Model.ProductPrices.OrderByDescending(o => o.EffectiveFromDate))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveFromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelesPrice)
            </td>  
            <td>
                <span style="white-space:nowrap">
                 @Html.ActionLink("Edit", "Edit", "ProductPrices", new { id = item.Id },null) |
                @Html.ActionLink("Details", "Details", "ProductPrices", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "ProductPrices", new { id = item.Id }, null)
            </span>
        </td>                      
        </tr>
    }
</table>