@model Web.Models.Adjust

@{
    ViewBag.Title = "Details";
}

<div>
    <div class="custom-header">
        <div class="row">
            <div class="col-xs-6">
                <h3>Details</h3>
            </div>
            <div class="col-xs-6">
                <span class="pull-right">
                    <a href="@Url.Action("Edit", new { id = Model.Id, returnUrl = Request.Url })" class="btn  btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </a>
                    @if (Model.OrderType == Helper.Constants.OrderType.ADJUST && Model.AdjustReason != "DAMAGE_LOST")
                    {
                        if (Model.Credits.FirstOrDefault() != null)
                        {                            
                            <a href="@Url.Action("Details","Credits", new { Id = Model.Credits.First().Id, orderType = Model.OrderType })" class="btn  btn-primary">
                                <span class="glyphicon glyphicon-credit-card"></span> View Credit
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Create","Credits", new { order_Id = Model.Id, orderType = Model.OrderType })" class="btn  btn-primary">
                                <span class="glyphicon glyphicon-credit-card"></span> Convert to Credit
                            </a>
                        }    
                    }    
                           
                </span>
            </div>
        </div>

        <hr />
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @TempData["SuccessMessage"]
        </div>
    }
    <table style="min-width:340px">
        <tr>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.OrderNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OrderNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OrderDate)
                    </dd>



                </dl>
            </td>
            <td style="vertical-align:top">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.OrderType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OrderType)
                    </dd>

                    <dt>
                        Reason
                    </dt>

                    <dd>
                        @{var reason = Helper.Constants.AdustmentReasonList().Where(x => x.Value == Model.AdjustReason).First().Text;}
                        @Html.DisplayFor(model => reason)
                    </dd>

                </dl>
            </td>
        </tr>
    </table>

</div>


<br />
<h4>Products</h4>

<div>
    <p>
        @Html.ActionLink("Add Item", "Create", "OrderDetails", new { Order_Id = Model.Id }, null)
    </p>

</div>
<div style="overflow:auto">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().Quantity)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().ProductPrice)
            </th>
            <th>
                Total Amount
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice.PurchasePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountBeforeTax)
                </td>



                <td>
                    <span style="white-space:nowrap">
                        @Html.ActionLink("Edit", "Edit", "OrderDetails", new { id = item.Id }, null) |
                        @Html.ActionLink("Details", "Details", "OrderDetails", new { id = item.Id }, null) |
                        @Html.ActionLink("Delete", "Delete", "OrderDetails", new { id = item.Id }, null)
                    </span>
                </td>
            </tr>
        }
    </table>


</div>


@*<div class="row">
    <div class="col-xs-12" style="text-align:end; margin-top:40px">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id, returnUrl = Request.Url }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>*@