@model Web.Models.Order

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl class="dl-horizontal">
        <dt>
            @if (Model.OrderType == Web.Controllers.Helper.Constants.OrderType.ADJUST)
            {
                @Html.Label("Adjust Number")
            }
            else
            {
                @Html.DisplayNameFor(model => model.OrderNumber)
            }
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>

        <dt>
            @if (Model.OrderType == Web.Controllers.Helper.Constants.OrderType.ADJUST)
            {
                @Html.Label("Adjust Date")
            }
            else
            {
               @Html.DisplayNameFor(model => model.OrderDate)
            }
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        @if (Model.OrderType != Web.Controllers.Helper.Constants.OrderType.ADJUST)
        {
        <dt>
            @Html.DisplayNameFor(model => model.ExpectedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherCharges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherCharges)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxRate)
        </dd>
        }
        <dt>
            @if (Model.OrderType == Web.Controllers.Helper.Constants.OrderType.ADJUST)
            {
                @Html.Label("Reason")
            }
            else
            {
                @Html.DisplayNameFor(model => model.OrderNotes)
            }
           
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNotes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index", new { orderType = @Model.OrderType })
        </div>
    }
</div>
