@model Web.Models.Order

@{
    ViewBag.Title = "Details";
}



<div>

    <div class="row">
        <div class="col-md-6">
            <h3>Details - @Model.OrderNumber</h3>
        </div>
        <div class="col-md-6">
            <h1>
                <span class="pull-right">
                    <a href="@Url.Action("Edit", new { id = Model.Id, returnUrl = Request.Url })" class="btn  btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                @if (Model.OrderType == Helper.Constants.OrderType.SALE)
                                {
                                    @*@Html.ActionLink("Invoice", "Index", "Invoice", new { searchString = Model.OrderNumber, orderType = Model.OrderType }, null)*@
                                    if (Model.Invoices.FirstOrDefault() != null)
                                    {
                                        @Html.ActionLink("View Invoice", "Details", "Invoices", new { order_Id = Model.Id, Id = Model.Invoices.FirstOrDefault().Id }, null)
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Create Invoices", "Create", "Invoices", new { order_Id = Model.Id, type = "INV" }, null)
                                    }

                                }
                                else if (Model.OrderType == Helper.Constants.OrderType.PURCHASE)
                                {
                                    if (Model.Invoices.FirstOrDefault() != null)
                                    {
                                        @Html.ActionLink("View Bill", "Details", "Bills", new { order_Id = Model.Id, Id = Model.Invoices.FirstOrDefault().Id }, null)
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Convert to Bill", "Create", "Bills", new { order_Id = Model.Id, TYPE = "BILL" }, null)
                                    }

                                }
                            </li>
                            <li>
                                @if (Model.OrderType == Helper.Constants.OrderType.PURCHASE)
                                {
                                    @Html.ActionLink("Convert to Sales", "Create", new { IdToCopy = Model.Id, orderType = Helper.Constants.OrderType.SALE }, new { @title = "Promote this order into a new sales order" })
                                }
                            </li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Delete", "Delete", new { Id = Model.Id }, null)</li>
                        </ul>
                    </div>


                </span>
            </h1>
        </div>
    </div>

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @TempData["SuccessMessage"]
        </div>
    }
    <table style="min-width:340px">
        <tr>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.OrderNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OrderNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OrderDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ExpectedDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ExpectedDate)
                    </dd>

                </dl>
            </td>
            <td style="vertical-align:top">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.OrderType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OrderType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Partner)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Partner.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                </dl>
            </td>
        </tr>
    </table>

</div>


<br />
<h4>Items</h4>

<div style="margin-bottom:5px">

    <a href="@Url.Action("Create","OrderDetails",new { Order_Id = Model.Id, orderType = Model.OrderType })" class="btn  btn-primary">
        <span class="glyphicon glyphicon-plus"></span> Create new item
    </a>
</div>

<div style="overflow:auto">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().UnitDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().AmountBeforeTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().Tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().AmountAfterTax)
            </th>

            <th>
                @if (Model.OrderType == Helper.Constants.OrderType.SALE)
                {
                    @Html.DisplayNameFor(model => model.OrderDetails.First().ProductPrice.PurchasePrice)
                }
                else
                {
                    @Html.DisplayNameFor(model => model.OrderDetails.First().ProductPrice.SelesPrice)
                }

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitDiscount)
                </td>
                <td>
                    @if (item.Order.OrderType == Helper.Constants.OrderType.SALE)
                    {
                        @Html.DisplayFor(modelItem => item.ProductPrice.SelesPrice)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.ProductPrice.PurchasePrice)
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountBeforeTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountAfterTax)
                </td>
                <td>
                    @if (item.Order.OrderType == Helper.Constants.OrderType.SALE)
                    {
                        @Html.DisplayFor(modelItem => item.ProductPrice.PurchasePrice)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.ProductPrice.SelesPrice)
                    }
                </td>
                <td>
                    <span style="white-space:nowrap">
                        @Html.ActionLink("Edit", "Edit", "OrderDetails", new { id = item.Id }, null) |
                        @Html.ActionLink("Details", "Details", "OrderDetails", new { id = item.Id }, null) |
                        @Html.ActionLink("Delete", "Delete", "OrderDetails", new { id = item.Id }, null)
                    </span>
                </td>
            </tr>
        }
    </table>


</div>
<div class="row">
    <div class="col-xs-12" style="text-align:end; align-items:flex-end ">

        <table style="margin-right:0;margin-left:auto; ">
            <tr>
                <td style="width:150px; text-align:left">Other Charges:</td>
                <td style="text-align:right"><span style="font-weight:bolder; text-align:right">@Html.DisplayFor(model => model.OtherCharges) </span></td>
            </tr>
            <tr>
                <td style="text-align:left">Discount: </td>
                <td style="text-align:right"><span style="font-weight:bolder;text-align:right">@Html.DisplayFor(model => model.OrderDiscount) </span></td>
            </tr>
            <tr>
                <td style="text-align:left">Tax Rate:</td>
                <td style="text-align:right"><span style="font-weight:bolder;">@Html.DisplayFor(model => model.TaxRate) </span></td>
            </tr>
            <tr>
                <td style="font-weight:bolder;text-align:left ; border-bottom:solid; border-top:solid; border-width:1px; background-color:lightcyan">Total Amount:</td>
                <td style="text-align:right; border-bottom:solid; border-top:solid; border-width:1px; background-color:lightcyan"><span style="font-weight:bolder;text-align:right">@(((Model.OtherCharges + Model.Amount) - Model.OrderDiscount).ToString("N2"))</span></td>
            </tr>
        </table>

    </div>
</div>

<div class="row">
    <div class="col-xs-12" style="text-align:end; margin-top:40px">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id, returnUrl = Request.Url }) |
        @Html.ActionLink("Back to List", "Index", new { orderType = Model.OrderType }, null)
    </div>
</div>