
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*<link rel="stylesheet" type="text/css" href="~/Content/Custom.css" />*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
   
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink((string)ViewBag.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("DashBoard", "Index", "DashBoard")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Order<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @*<li class="dropdown-header">Order</li>*@
                            <li >@Html.ActionLink("Purchase Orders", "Index", "Orders", new { OrderType = Helper.Constants.OrderType.PURCHASE }, null)</li>
                            <li >@Html.ActionLink("Sales Orders", "Index", "Orders", new { OrderType = Helper.Constants.OrderType.SALE }, null)</li>
                            <li >@Html.ActionLink("Adjustment", "Index", "Orders", new { OrderType = Helper.Constants.OrderType.ADJUST }, null)</li>
                            @*<li style="padding-left:20px">@Html.ActionLink("Returns to Supplier", "Index", "Orders", new { OrderType = Helper.Constants.OrderType.SUPPLIER_RETURN }, null)</li>*@
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">      
                            <li >@Html.ActionLink("Items", "Index", "Products", new { area = "" }, null)</li>
                            @*<li style="padding-left:20px">@Html.ActionLink("Adjust Items", "Index", "Orders", new { OrderType = Helper.Constants.OrderType.ADJUST }, null)</li>*@
                            @*<li style="padding-left:20px">@Html.ActionLink("Price List", "Index", "ProductPrices", new { area = "" }, null)</li>*@
                            <li >@Html.ActionLink("Category", "Index", "Categories", new { area = "" }, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Partners<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Partners", "Index", "Partners", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Invoices", "Index", "Invoices", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Bills", "Index", "Bills", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Credit Notes", "Index", "Credits", new { area = "" }, null)</li>
                        </ul>                            
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cash<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Deposit", "Index", "CashInjections", new { area = "" }, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Sales vs Purchase", "SalesAndPurchase", "Report", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Cash Flow", "CashFlow", "Report", new { area = "" }, null)</li>
                        </ul>
                    </li>
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <!-- #region Breadcrumb -->
        @Html.Raw(MvcBreadCrumbs.BreadCrumb.Display())

        <!-- #endregion -->
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jacob Retail Inventory System @ViewContext.Controller.GetType().Assembly.GetName().Version</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <style type="text/css">
        .navbar-nav .dropdown .dropdown-menu li a {
            line-height: 22px;
        }

        .navbar-nav .dropdown .dropdown-menu .dropdown-header {
            font-size: 15px;
            cursor: default;
            color: #000000;
            font-weight: bold;
            line-height: 25px;
        }
    </style>
</body>
</html>
