@model Web.Models.Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Partner_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partner.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        
    </dl>
</div>
<br />
<h4>Payment for</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDetails.First().Invoice.Order.OrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDetails.First().Invoice.Order.InvoiceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.PaymentDetails)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice.Order.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice.InvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            
        </tr>
    }
</table>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
        @Html.ActionLink("Back to List", "Index")
    </p>
